<%- partial('_partials/head') %>
	<body>
		<div class="container">
			<div class="row">
				<%- body %>
		</div>
	</div>
	<%- js('js/jquery.min') %>
	<%- js('js/bootstrap.min') %>
	<%- js('js/script.min') %>
	</body>
</html>