<div id="content" class="col-sm-9">
	<%- partial('_partials/index_content/about-me') %>
	<%- partial('_partials/index_content/experience') %>
	<%- partial('_partials/index_content/skills') %>
	<%- partial('_partials/index_content/education') %>
	<%- partial('_partials/index_content/contact') %>
</div>