<div id="content" class="col-sm-9">
	<div id="aboutMe-content" class="active-content">
		<%- partial('_partials/index_content/about-me') %>
	</div>
	<div id="job-content" style="display: none;">
		<%- partial('_partials/index_content/experience') %>
	</div>
	<div id="skills-content" style="display: none;">
		<%- partial('_partials/index_content/skills') %>
	</div>
	<div id="education-content" style="display: none;">
		<%- partial('_partials/index_content/education') %>
	</div>
	<div id="contact-content" style="display: none;">
		<%- partial('_partials/index_content/contact') %>
	</div>
</div>